<p-button label="Create New Playlist" (onClick)="openDialog()"></p-button>

<p-dialog [(visible)]="showDialog" [modal]="true" [style]="{width: '300px'}" [closable]="false">
  <h2>Create New Playlist</h2>
  <div class="p-fluid">
    <div class="p-field">
      <input
          id="playlist-name-input"
          type="text"
          [(ngModel)]="inputText"
          pInputText
          placeholder="Playlist Name" />
    </div>
    <div class="p-field">
        <label for="private-input" class="field-label">
        <p>Public</p>
        </label>
        <p-inputSwitch id="private-input" [(ngModel)]="inputSwitch"/>
    </div>
  </div>
  <p-footer>
    <p-button label="Submit" (onClick)="submitForm()"></p-button>
    <p-button label="Close" (onClick)="closeDialog()"></p-button>
  </p-footer>
</p-dialog>



<!-- src/app/app.component.html -->

  <div class="grid">
    <div class="playlist" (click)="goToPlaylist(playlist.id)" *ngFor="let playlist of userPlaylists">
      <strong class="playlist-title">{{ playlist.name }}</strong>
      <p >Count: {{ playlist.count }}</p>
    </div>
  </div>

  
