:host ::ng-deep .p-card-style.p-card {
  border-radius: 1rem;
  margin: 1rem auto;
  .p-card-content {
    padding: 0 0;
  }
}

.playlist:hover {
  cursor: pointer;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist {
  display: flex;
  align-items: center;
  justify-content: center;
}
