<p-card styleClass="p-card-style shadow-7">
    <div class="flex justify-content-between flex-wrap">
      <div>
        <button
          pButton
          pRipple
          type="login"
          label="Login"
          class="p-button-secondary p-button-text">
        </button>
        <button
          pButton
          pRipple
          type="register"
          label="Register"
          class="p-button-secondary p-button-text"
          (click)="registerButtonOnClick()">
        </button>
      </div>
    </div>
  </p-card>