<div class="container">
  <div class="custom-width">
    <div>
      <video #videoPlayer class="full-page-video" controls>
        <source src={{videoUrl}} type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div>
      <p-card
        styleClass="p-card-style shadow-7">
        <div class="flex justify-content-between">
          <h2 id="title" class="mt-0">{{ videoMetadata.title }}</h2>
          <div>
            <p-menu
              #videoMenu
              [model]="videoMenuModel"
              [popup]="true">
            </p-menu>
            <p-button
              icon="pi pi-ellipsis-v"
              styleClass="p-button-rounded p-button-text p-button-secondary"
              (click)="videoMenu.toggle($event)">
            </p-button>
          </div>
        </div>
        <div class="flex flex-wrap justify-content-between">
          <div class="flex" >
            <div class="flex video-author-info" (click)="goToUserProfile(author.id)">
              <img [src] = "author.avatarImage" class="avatar-image mr-2">
              <div class="flex flex-column">
                <label id="author-nickname" class="video-author">{{ author.nickname }}</label>
                <label>{{ author.subscriptionsCount }} subscribers</label>
              </div>
            </div>
            <ng-container *ngIf="isAuthorSubscribed; else isNotSubscribed">
              <p-button class="ml-2" icon="pi pi-times" label="Unsubscribe" styleClass="p-button-danger" (click)="handleSubscribtionOnClick()"></p-button>
            </ng-container>
            <ng-template #isNotSubscribed>
              <p-button class="ml-2" icon="pi pi-check" label="Subscribe" (click)="handleSubscribtionOnClick()"></p-button>
            </ng-template>
            <p-button *ngIf="author.id != id" class="ml-2" icon="pi pi-wallet" (click)="startDonate()" label="Donate"></p-button>
          </div>
          <div class="flex align-content-center">
            <span class="p-buttonset">
              <button
                pButton
                pRipple
                [label]="reactions.positiveCount.toString()"
                [icon]="reactions.currentUserReaction === positiveReaction ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                (click)="handlePositiveReactionOnClick()">
              </button>
              <button
                pButton
                pRipple
                [label]="reactions.negativeCount.toString()"
                [icon]="reactions.currentUserReaction === negativeReaction ? 'pi pi-thumbs-down-fill' : 'pi pi-thumbs-down'"
                (click)="handleNegativeReactionOnClick()">
              </button>
          </span>
          </div>
        </div>
        <div class="videoDescription mt-1">
          {{ videoMetadata.viewCount }} views, uploaded {{ getTimeAgo(videoMetadata.uploadDate) }} ago
          <br>
          {{ videoMetadata.description }}
        </div>
        <app-comments [videoId]="videoId"></app-comments>
      </p-card>
    </div>
  </div>
  <div class="videos">
    <div *ngIf="videos">
      <div class="grid">
        <div class="col" *ngFor="let video of videos">
          <div class="rec-video" (click)="goToVideo(video.id)">
          <div class="image-container">
            <img [src]="video.thumbnail" class="thumbnail">
            <span class="image-label">{{ video.duration }}</span>
          </div>
          <h3 class="noPadding">{{ video.title }}</h3>
          <p class="noPadding rec-video-author" (click)="goToUserProfile(video.authorId)">{{ video.authorNickname }}</p>
          <p class="noPadding">{{ video.viewCount }} views</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Report Reason" [(visible)]="showReportDialog" [modal]="true" [style]="{width: '50vw'}">
  <input [(ngModel)]="reportReason" type="text" placeholder="Enter your reason here" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  <p-footer>
    <button pButton type="text" label="Submit" (click)="report()"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Donate" [(visible)]="showDonateDialog" [modal]="true" [style]="{width: '50vw'}">
  <div class="p-fluid">
    <small>Your account balance: {{ maxDonate }}</small>
    <input [(ngModel)]="donateAmount" pInputText type="number" placeholder="Enter amount" 
    [ngClass]="{
      'ng-invalid ng-dirty': isDonateImpossible()
    }">
    <small class="p-error" *ngIf="isDonateImpossible()">Cannot donate more than account balance</small>
  </div>
  <p-footer>
    <button pButton type="text" label="Submit" (click)="donate()"></button>
  </p-footer>
</p-dialog>
 
<p-dialog header="Choose Playlist" [(visible)]="showPlaylistDialog" [modal]="true" [style]="{width: '300px'}">
  <div class="grid">
    <div class="playlist" (click)="choosePlaylist(playlist.id)" *ngFor="let playlist of userPlaylists">
      <strong class="playlist-title">{{ playlist.name }}</strong>
    </div>
  </div>
</p-dialog>

