:host ::ng-deep .p-card-style.p-card {
  border-radius: 1rem;

  .p-card-content {
    padding: 0 0;
  }
}

:host ::ng-deep .p-menu {
  width: 11em;
}

.avatar-image {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    z-index: 1;
}

.noPadding {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.full-page-video {
    width: 100%; /* adjust this value if you want some margin */
    height: 70%; /* adjust this value if you want some margin */
    object-fit: contain;
    top: 5;
    left: 5;
  }

.custom-width {
    width: 80% !important;
}

.videos {
  width: 20%;
  color: rgb(73, 80, 87);
}

.rec-video:hover {
  cursor: pointer;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.thumbnail {
  width: 99%;
  max-width: 100%;
  height: auto;
}

.video-author-info:hover, .video-author-info *:hover {
  cursor: pointer;
}

.video-author-info:hover .video-author {
  color: black;
}

.rec-video-author:hover {
  color: black;
}

.playlist {
  display: inline-flex;
  width: auto;
  margin: 1em;
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  float: left;
}

.playlist:hover {
  cursor: pointer;
}

.playlist-title {
margin: 1em;
}
