.avatarImage {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.video {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.userProfile {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 20%;
    padding: 10px;
}

.userInfo {
    width: 60%;
    padding: 10px;
}

.subscription {
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.column {
    width: 30%;
    padding: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
.image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    z-index: 1;
}

.noPadding {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
  }

  .videoCol {
    /* Add any additional styles for the column, such as width or margin */
    margin: 0 20px 20px 0; /* Adjust the margin as needed */
  }