<p-card
  styleClass="p-card-style shadow-7">
  <div class="flex flex-wrap justify-content-start mx-2 mt-2">
    <img [src] = "user.avatarImage" class="avatar-image mr-3">
    <div class="flex flex-column">
      <h1>{{ user.nickname }}</h1>
      <label class="mb-1">{{ user.name }} {{ user.surname }}</label>
      <label class="mb-1">{{ user.email }}</label>
      <label>{{ user.subscriptionsCount }} subscribers, {{ videos.length }} videos</label>
      <ng-container *ngIf="isCreatorSubscribed; else isNotSubscribed">
        <p-button class="ml-2" icon="pi pi-times" label="Unsubscribe" styleClass="p-button-danger" (click)="handleSubscribtionOnClick()"></p-button>
      </ng-container>
      <ng-template #isNotSubscribed>
        <p-button class="ml-2" icon="pi pi-check" label="Subscribe" (click)="handleSubscribtionOnClick()"></p-button>
      </ng-template>
    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Videos">
      <div class="mt-4">
        <div *ngIf="videos !== null && videos.length !== 0; else noVideos">
          <div class="grid">
            <div class="m-2 video" *ngFor="let video of videos" (click)="goToVideo(video.id)">
              <div class="thumbnail-container">
                <img [src] = "video.thumbnail" class="thumbnail">
                <span class="video-length">{{ video.duration }}</span>
              </div>
              <strong class="video-title">{{ video.title }}</strong>
              <div>
                {{ video.viewCount }} views, {{ getTimeAgo(video) }} ago
              </div>
            </div>
          </div>
        </div>
        <ng-template #noVideos>
          <div style="text-align: center;">
            This user does not have videos
          </div>
        </ng-template>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Playlists">
      <div class="mt-4">
        <div *ngIf="playlists !== null && playlists.length !== 0; else noPlaylists">
          <div class="grid">
            <div class="m-2" *ngFor="let playlist of playlists">
              <p-card class="playlist" styleClass="shadow-4 hover:shadow-7" (click)="goToPlaylist(playlist.id)">
                <strong class="playlist-title">{{ playlist.name }}</strong>
                <p>Videos: {{ playlist.count }}</p>
              </p-card>
            </div>
          </div>
        </div>
        <ng-template #noPlaylists>
          <div style="text-align: center;">
            This user does not have playlists
          </div>
        </ng-template>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-card>
