<p-card
  styleClass="p-card-style shadow-7">
  <div class="flex flex-wrap justify-content-start mx-2 mt-2">
    <img [src] = "user.avatarImage" class="avatar-image mr-3">
    <div class="flex flex-column">
      <h1>{{ user.nickname }}</h1>
      <label class="mb-1">{{ user.name }} {{ user.surname }}</label>
      <label class="mb-1">{{ user.email }}</label>
      <label>{{ user.subscriptionsCount }} subscribers, {{ videos.length }} videos</label>
      <p-button label="Subscribe" class="mt-3"></p-button>
    </div>
  </div>

  <div class="mt-4">
    <div *ngIf="videos !== null && videos.length !== 0; else noVideos">
      <div class="grid">
        <div class="m-2 video" *ngFor="let video of videos" (click)="goToVideo(video.id)">
          <div class="thumbnail-container">
            <img [src] = "video.thumbnail" class="thumbnail">
            <span class="video-length">{{ video.duration }}</span>
          </div>
          <strong class="video-title">{{ video.title }}</strong>
          <div>
            {{ video.viewCount }} views, {{ getTimeAgo(video) }} ago
          </div>
        </div>
      </div>
    </div>
    <ng-template #noVideos>
      <div style="text-align: center;">
        This user does not have videos
      </div>
    </ng-template>
  </div>
</p-card>
