<div class="container">
    <div class="left-column">
      <div class="content-container">
        <div class="label-container">
            <h1>{{ playlist.name }}</h1>
            <p>{{ playlist.visibility }} playlist</p>
        </div>
        <div class="button-container">
          <p-button label="Update Playlist" (onClick)="openDialog()" class="p-mr-2"></p-button>
        </div>
        <app-report-button [targetId]="id"></app-report-button>
      </div>
    </div>
    <div class="right-column">
      <div *ngIf="playlist.videos !== null && playlist.videos.length !== 0; else noVideos">
        <div class="grid m-2">
          <div class="m-2 video-in-playlist" *ngFor="let video of playlist.videos" (click)="goToVideo(video.id)">
            <div class="thumbnail-container">
              <img [src] = "video.thumbnail" class="thumbnail">
              <span class="video-length">{{ video.duration }}</span>
            </div>
            <div class="flex justify-content-between">
              <div class="flex flex-column">
                <strong class="video-title">{{ video.title }}</strong>
                <div>
                  {{ video.viewCount }} views, {{ getTimeAgo(video) }} ago
                </div>
              </div>
              <div>
                <p-menu
                  #videoMenu
                  [model]="getVideoMenuModel(video)"
                  [popup]="true">
                </p-menu>
                <p-button
                  icon="pi pi-ellipsis-v"
                  styleClass="p-button-rounded p-button-text p-button-secondary"
                  (click)="videoMenu.toggle($event); $event.stopPropagation()">
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noVideos>
        <div class="mt-4" style="text-align: center;">
          This playlist does not have videos
        </div>
      </ng-template>
    </div>
  </div>

  <p-dialog [(visible)]="showDialog" [modal]="true" [style]="{width: '300px'}" [closable]="false">
    <h2>Update Playlist</h2>
    <div class="p-fluid">
      <div class="p-field">
        <input
            id="playlist-name-input"
            type="text"
            [(ngModel)]="inputText"
            pInputText />
      </div>
      <div class="p-field">
          <label for="private-input" class="field-label">
          <p>Public</p>
          </label>
          <p-inputSwitch id="private-input" [(ngModel)]="inputSwitch"/>
      </div>
    </div>
    <p-footer>
      <p-button label="Submit" (onClick)="submitForm()"></p-button>
      <p-button label="Close" (onClick)="closeDialog()"></p-button>
    </p-footer>
  </p-dialog>
